build
output
.gradle
.idea
*.iml

Mekanism*.jar
MDK.zip
/run
/gradle
*.bat
*.classpath
*.project
/.settings

*.mtl
*.blend1
*.blend2
/bin
/asm
/config
/logs
/saves
/crash-reports
/src/main/resources/assets/mekanism/textures/items/Thumbs.db
/options.txt
/gradlew
/eclipse
/src/main/resources/assets/mekanism/gui
