build
output
.idea
*.iml
*.ipr
*.iws
out

Mekanism*.jar
MDK.zip
/run
/runGameTests
/.gradle
*.classpath
*.project
.settings
/eclipse
*.txt
*.launch

*.blend1
*.blend2
/bin
/logs
/src/datagen/*/resources
/src/datagen/*/annotation_generated
!/src/datagen/main/resources/PersistingMekanismDatagenCache.js
!/src/datagen/main/resources/SkipResourcePackFilter.js
!/src/datagen/main/resources/META-INF/coremods.json
/annotation-processor/bin
libs/