build
output
.idea
*.iml
*.ipr
*.iws
out

Mekanism*.jar
MDK.zip
/runs
/run
/.gradle
*.classpath
*.project
.settings
/eclipse
*.txt
*.launch

*.blend1
*.blend2
/bin
/logs
/annotation-processor/bin
libs/
__pycache__/
