#Things required for the PersistingDataProvider
public net.minecraft.data.HashCache$ProviderCache
public net.minecraft.data.HashCache$ProviderCache <init>(Ljava/lang/String;Lcom/google/common/collect/ImmutableMap;)V
public net.minecraft.data.HashCache readCache(Ljava/nio/file/Path;Ljava/nio/file/Path;)Lnet/minecraft/data/HashCache$ProviderCache;
public net.minecraft.data.HashCache getProviderCachePath(Ljava/lang/String;)Ljava/nio/file/Path;
public-f net.minecraft.data.HashCache caches
public net.minecraft.data.HashCache cachePaths
public-f net.minecraft.data.HashCache initialCount
public net.minecraft.data.HashCache writes