public net.minecraft.block.AbstractBlock$Properties field_235803_e_ # lightLevel

public net.minecraft.client.audio.SoundHandler field_147694_f # sndManager
public net.minecraft.client.audio.SoundEngine field_188777_o # listeners

#Client stuff that needs to be ATd to make "virtual" slots possible
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146987_F # dragSplittingLimit
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146988_G # dragSplittingButton
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146989_A # returningStackDestSlot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146990_B # returningStackTime
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146991_C # returningStack
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146992_L # lastClickButton
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146993_M # doubleClick
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146994_N # shiftClickedSlot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146995_H # ignoreMouseUp
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146997_J # lastClickTime
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146998_K # lastClickSlot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147004_w # isRightMouseClick
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147005_v # clickedSlot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147010_z # touchUpY
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147011_y # touchUpX
protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147012_x # draggedStack
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_146980_g()V # updateDragSplitting
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V # drawItemStack
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_195360_a(DD)Lnet/minecraft/inventory/container/Slot; # getSelectedSlot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_238746_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/inventory/container/Slot;)V # moveItems
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_241609_a_(I)V # hotkeySwapItems

protected net.minecraft.client.particle.BubbleParticle <init>(Lnet/minecraft/client/world/ClientWorld;DDDDDD)V #BubbleParticle constructor
protected net.minecraft.client.particle.FlameParticle <init>(Lnet/minecraft/client/world/ClientWorld;DDDDDD)V #FlameParticle constructor

public net.minecraft.client.renderer.chunk.ChunkRenderCache field_212408_i # world

public net.minecraft.client.renderer.entity.LivingRenderer field_177097_h # layerRenderers
public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177189_c # modelLeggings
public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177186_d # modelArmor

protected net.minecraft.client.renderer.entity.model.AgeableModel field_228221_a_ #isChildHeadScaled
protected net.minecraft.client.renderer.entity.model.AgeableModel field_228222_b_ #childHeadOffsetY
protected net.minecraft.client.renderer.entity.model.AgeableModel field_228223_f_ #childHeadOffsetZ
protected net.minecraft.client.renderer.entity.model.AgeableModel field_228224_g_ #childHeadScale
protected net.minecraft.client.renderer.entity.model.AgeableModel field_228225_h_ #childBodyScale
protected net.minecraft.client.renderer.entity.model.AgeableModel field_228226_i_ #childBodyOffsetY

public net.minecraft.client.renderer.entity.model.ArmorStandModel field_178740_a # standRightSide
public net.minecraft.client.renderer.entity.model.ArmorStandModel field_178738_b # standLeftSide
public net.minecraft.client.renderer.entity.model.ArmorStandModel field_178739_c # standWaist

protected net.minecraft.client.renderer.model.ModelRenderer field_78804_l # cubeList
protected net.minecraft.client.renderer.model.ModelRenderer field_78805_m # childModels
public net.minecraft.client.renderer.model.ModelRenderer$ModelBox field_78254_i # quads
public net.minecraft.client.renderer.model.ModelRenderer$PositionTextureVertex
public net.minecraft.client.renderer.model.ModelRenderer$TexturedQuad

public net.minecraft.entity.Entity func_209511_p()Z # isInRain
public net.minecraft.entity.LivingEntity field_70752_e # potionsNeedUpdate

protected net.minecraft.entity.projectile.ProjectileEntity <init>(Lnet/minecraft/entity/EntityType;Lnet/minecraft/world/World;)V #ProjectileEntity constructor

protected net.minecraft.inventory.container.Container field_75149_d # listeners

protected net.minecraft.item.ArmorItem field_185084_n # ARMOR_MODIFIERS

public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; #getRecipes

public net.minecraft.network.play.ServerPlayNetHandler field_147365_f #floatingTickCount

protected net.minecraft.tileentity.TileEntity field_195045_e # cachedBlockState

public net.minecraft.world.Explosion field_222260_b # mode
public net.minecraft.world.Explosion field_77280_f # size