# GSON uses LF only, this prevents annoyance on Windows where only EOLs differ
*.json eol=lf
*.zs eol=lf

# In GitHub, hide generated resources by default
datagen/generated/** linguist-generated
gameTest/generated/** linguist-generated